src/conf/xml-resources/web-service-references/DbManager/wsdl/localhost_8080/DbManager/DbManager.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://DbManagerWSS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://DbManagerWSS/" name="DbManager">
<types>
<xsd:schema>
<xsd:import namespace="http://DbManagerWSS/" schemaLocation="http://localhost:8080/DbManager/DbManager?xsd=1"/>
</xsd:schema>
</types>
<message name="deleteRecord">
<part name="parameters" element="tns:deleteRecord"/>
</message>
<message name="deleteRecordResponse">
<part name="parameters" element="tns:deleteRecordResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="getRecords">
<part name="parameters" element="tns:getRecords"/>
</message>
<message name="getRecordsResponse">
<part name="parameters" element="tns:getRecordsResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="createTable">
<part name="parameters" element="tns:createTable"/>
</message>
<message name="createTableResponse">
<part name="parameters" element="tns:createTableResponse"/>
</message>
<message name="insertRecord">
<part name="parameters" element="tns:insertRecord"/>
</message>
<message name="insertRecordResponse">
<part name="parameters" element="tns:insertRecordResponse"/>
</message>
<message name="updateRecord">
<part name="parameters" element="tns:updateRecord"/>
</message>
<message name="updateRecordResponse">
<part name="parameters" element="tns:updateRecordResponse"/>
</message>
<portType name="DbManager">
<operation name="deleteRecord">
<input wsam:Action="http://DbManagerWSS/DbManager/deleteRecordRequest" message="tns:deleteRecord"/>
<output wsam:Action="http://DbManagerWSS/DbManager/deleteRecordResponse" message="tns:deleteRecordResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://DbManagerWSS/DbManager/deleteRecord/Fault/Exception"/>
</operation>
<operation name="getRecords">
<input wsam:Action="http://DbManagerWSS/DbManager/getRecordsRequest" message="tns:getRecords"/>
<output wsam:Action="http://DbManagerWSS/DbManager/getRecordsResponse" message="tns:getRecordsResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://DbManagerWSS/DbManager/getRecords/Fault/Exception"/>
</operation>
<operation name="hello">
<input wsam:Action="http://DbManagerWSS/DbManager/helloRequest" message="tns:hello"/>
<output wsam:Action="http://DbManagerWSS/DbManager/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="createTable">
<input wsam:Action="http://DbManagerWSS/DbManager/createTableRequest" message="tns:createTable"/>
<output wsam:Action="http://DbManagerWSS/DbManager/createTableResponse" message="tns:createTableResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://DbManagerWSS/DbManager/createTable/Fault/Exception"/>
</operation>
<operation name="insertRecord">
<input wsam:Action="http://DbManagerWSS/DbManager/insertRecordRequest" message="tns:insertRecord"/>
<output wsam:Action="http://DbManagerWSS/DbManager/insertRecordResponse" message="tns:insertRecordResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://DbManagerWSS/DbManager/insertRecord/Fault/Exception"/>
</operation>
<operation name="updateRecord">
<input wsam:Action="http://DbManagerWSS/DbManager/updateRecordRequest" message="tns:updateRecord"/>
<output wsam:Action="http://DbManagerWSS/DbManager/updateRecordResponse" message="tns:updateRecordResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://DbManagerWSS/DbManager/updateRecord/Fault/Exception"/>
</operation>
</portType>
<binding name="DbManagerPortBinding" type="tns:DbManager">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="deleteRecord">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getRecords">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createTable">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="insertRecord">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="updateRecord">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="DbManager">
<port name="DbManagerPort" binding="tns:DbManagerPortBinding">
<soap:address location="http://localhost:8080/DbManager/DbManager"/>
</port>
</service>
</definitions>