src/conf/xml-resources/web-service-references/DbManager/wsdl/localhost_8080/DbManager/DbManager.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://DbManagerWSS/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://DbManagerWSS/">

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="createTable" type="tns:createTable"/>

<xs:element name="createTableResponse" type="tns:createTableResponse"/>

<xs:element name="deleteRecord" type="tns:deleteRecord"/>

<xs:element name="deleteRecordResponse" type="tns:deleteRecordResponse"/>

<xs:element name="getRecords" type="tns:getRecords"/>

<xs:element name="getRecordsResponse" type="tns:getRecordsResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="insertRecord" type="tns:insertRecord"/>

<xs:element name="insertRecordResponse" type="tns:insertRecordResponse"/>

<xs:element name="updateRecord" type="tns:updateRecord"/>

<xs:element name="updateRecordResponse" type="tns:updateRecordResponse"/>

<xs:complexType name="createTable">
<xs:sequence>
<xs:element name="dbName" type="xs:string" minOccurs="0"/>
<xs:element name="userName" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="tableName" type="xs:string" minOccurs="0"/>
<xs:element name="fields" type="tns:tableField" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tableField">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="type" type="xs:string" minOccurs="0"/>
<xs:element name="isPrimaryKey" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createTableResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRecords">
<xs:sequence>
<xs:element name="dbName" type="xs:string" minOccurs="0"/>
<xs:element name="tableName" type="xs:string" minOccurs="0"/>
<xs:element name="userName" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="start" type="xs:int"/>
<xs:element name="end" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRecordsResponse">
<xs:sequence>
<xs:element name="return" type="tns:hashMap" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hashMap">
<xs:complexContent>
<xs:extension base="tns:abstractMap">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="abstractMap" abstract="true">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="insertRecord">
<xs:sequence>
<xs:element name="dbName" type="xs:string" minOccurs="0"/>
<xs:element name="tableName" type="xs:string" minOccurs="0"/>
<xs:element name="userName" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="values">
<xs:complexType>
<xs:sequence>
<xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="key" minOccurs="0" type="xs:string"/>
<xs:element name="value" minOccurs="0" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertRecordResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="deleteRecord">
<xs:sequence>
<xs:element name="dbName" type="xs:string" minOccurs="0"/>
<xs:element name="tableName" type="xs:string" minOccurs="0"/>
<xs:element name="userName" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="primaryKey" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteRecordResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="updateRecord">
<xs:sequence>
<xs:element name="dbName" type="xs:string" minOccurs="0"/>
<xs:element name="tableName" type="xs:string" minOccurs="0"/>
<xs:element name="userName" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="values">
<xs:complexType>
<xs:sequence>
<xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="key" minOccurs="0" type="xs:string"/>
<xs:element name="value" minOccurs="0" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="primaryKey" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateRecordResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>